*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.container{
    display: block;
    margin: auto; 
}

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.wrap{
    flex-wrap: wrap;
}


li{
    padding-inline: 10px;
    list-style-type: none;
    color: white;
}

nav{
    background-color: #5caae9;
}

nav div{
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    justify-content: center;
}

.none{
    display: none;
}

.special-col{
    width: 100%;margin-right: 1rem;
    background-color: #b5ddff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.special-col>*{
    margin:auto;
}

.col{
    width: 100%;
    margin-top: 30px;
    background-color: #b5ddff;
    border-radius: 20px;   
    padding-bottom: 30px;
    aspect-ratio: 1/1;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
}


.col>*{
    text-align: center;
}

.col-logo{
    font-size: 100px;
    color: #0084fd;
}

.col p{
    margin-top: 20px;
    margin-inline: 9px;
}

.content{
    width: 50%;  
}

.content-button{
    width: 170px;
    height:50px;
    border-radius: 25px 25px;
    background-color: #0183fc;
    border:solid 1px #0183fc;
    color: white;
    font-size: 20px; 
}

.special-col-image{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.special-col-image img{
    width: 70%;
}

.special-col h2{
    color: #0e8bfd;
}

.content>*{
    margin: 20px;
}

.col h2{
    color: #0e8bfd;
}

@media screen and (min-width:768px){
    .container{
        width:70%;
        margin:auto;
    }
    .special-col{
        width: calc( ( (100% / 3) * 2 ) - 2rem);
        flex-direction: row;
    }
    .special-col-image{
        flex-direction: row;
    }
    .special-col-image img{
        width:  100%;
    }
    .none{
        display: inline-block;
    }
    .none-desk{
        display: none;
    }
}

@media screen and (min-width:480px){
    
    .container{
        margin-inline: 20px;
        margin: auto;
    }
    .special-col{
        width: calc ( 100% / 3 * 2 - 2rem) ;
    }  
    
    .col{
        width: calc(100% / 3 - 2rem);
    }
    
}


.bg-celeste{
    background-color: #9792e4;
}